// СКДФ-Карпова
// https://www.figma.com/file/vc1xri4d8K6EopInaH5xYJ/%D0%A1%D0%9A%D0%94%D0%A4-%D0%9A%D0%B0%D1%80%D0%BF%D0%BE%D0%B2%D0%B0?node-id=481%3A16655

// Background
$skdf-color-white: #ffffff; // Основной фон, цвет текста на темном фоне
$skdf-color-grey-000: #fbfbfb; // Второстепенный фон (рабочий стол)
$skdf-color-grey-003: #f7f7f8; // или #000c1e (3%) // Цвет Disabled поля ввода, цвет Disabled кнопок
$skdf-color-grey-005: #f2f3f3; // или #000c1e (5%) // Цвет подложки по наведению, подложки скролла
$skdf-color-error-004: #fff8f7; // или #000C1E (4%) // Цвет выбранного поля ввода с ошибкой
$skdf-color-primary-004: #f6f8fb; // или #0D47A1 (4%) // Цвет выбранного поля ввода, элемента списка, столбца в таблице
$skdf-color-overlay: #05193766;
$skdf-color-backdrop-bg: #051937;
$skdf-color-backdrop-opacity: 0.4;
// $color-overlay: rgba(5, 25, 55, 0.40)

// Grey
$skdf-color-black: #000c1e; // Основной текст
$skdf-color-grey-07: #59616d; // Дополнительный текст, цвет иконок в Sidebar
$skdf-color-grey-05: #999ea5; // Цвет плейсхолдеров
$skdf-color-grey-04: #b6bcc3; // Цвет текста и обводок Disabled кнопок, цвет обводок полей ввода в неактивном состоянии
$skdf-color-grey-03: #ccced2; // Цвет обводок
$skdf-color-grey-01: #e5e7e8; // Цвет разделителей в таблице, скролла

// Blue
$skdf-color-primary-05: #0d47a1; // Цвет Primary кнопок, ссылок,
$skdf-color-primary-04: #3467b4; // Цвет Primary кнопок, ссылок при наведении
$skdf-color-primary-035: #4178d0; // Цвет тэгов
$skdf-color-primary-03: #6287c2; // Цвет обводок
$skdf-color-primary-01: #9eb5d9;
$skdf-color-primary-007: #cdddf7;
$skdf-color-primary-005: #e2eaf6;

// Other
$skdf-color-error: #f44336; // Цвет ошибок
$skdf-color-error-hover: #ff5044;
$skdf-color-success: #4caf50;
$skdf-color-warning: #f39b00;
