@import '~react-datepicker/src/stylesheets/datepicker.scss';

$input-calendar-grey: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' ><path fill-rule='evenodd' clip-rule='evenodd' d='M20 10H4V8H20V10Z' fill='#{$skdf-color-grey-05}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M8 1.5C8.55228 1.5 9 1.94772 9 2.5V6.5C9 7.05228 8.55228 7.5 8 7.5C7.44772 7.5 7 7.05228 7 6.5V2.5C7 1.94772 7.44772 1.5 8 1.5Z' fill='#{$skdf-color-grey-05}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16 1.5C16.5523 1.5 17 1.94772 17 2.5V6.5C17 7.05228 16.5523 7.5 16 7.5C15.4477 7.5 15 7.05228 15 6.5V2.5C15 1.94772 15.4477 1.5 16 1.5Z' fill='#{$skdf-color-grey-05}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6ZM5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5Z' fill='#{$skdf-color-grey-05}'/><path d='M17.004 17C17.556 17 18.004 17.448 18 18C18 18.552 17.552 19 17 19C16.448 19 16 18.552 16 18C16 17.448 16.448 17 17.004 17Z' fill='#{$skdf-color-grey-05}'/><path d='M13.004 17C13.556 17 14.004 17.448 14 18C14 18.552 13.552 19 13 19C12.448 19 12 18.552 12 18C12 17.448 12.448 17 13.004 17Z' fill='#{$skdf-color-grey-05}'/><path d='M7.00399 12C7.55598 12 8.00397 12.448 7.99997 13C7.99997 13.552 7.55198 14 6.99999 14C6.44799 14 6 13.552 6 13C6 12.448 6.448 12 7.00399 12Z' fill='#{$skdf-color-grey-05}'/><path d='M12.004 12C12.556 12 13.004 12.448 13 13C13 13.552 12.552 14 12 14C11.448 14 11 13.552 11 13C11 12.448 11.448 12 12.004 12Z' fill='#{$skdf-color-grey-05}'/></svg>");
$input-calendar-disable: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' ><path fill-rule='evenodd' clip-rule='evenodd' d='M20 10H4V8H20V10Z' fill='#{$skdf-color-grey-04}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M8 1.5C8.55228 1.5 9 1.94772 9 2.5V6.5C9 7.05228 8.55228 7.5 8 7.5C7.44772 7.5 7 7.05228 7 6.5V2.5C7 1.94772 7.44772 1.5 8 1.5Z' fill='#{$skdf-color-grey-04}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16 1.5C16.5523 1.5 17 1.94772 17 2.5V6.5C17 7.05228 16.5523 7.5 16 7.5C15.4477 7.5 15 7.05228 15 6.5V2.5C15 1.94772 15.4477 1.5 16 1.5Z' fill='#{$skdf-color-grey-04}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6ZM5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5Z' fill='#{$skdf-color-grey-04}'/><path d='M17.004 17C17.556 17 18.004 17.448 18 18C18 18.552 17.552 19 17 19C16.448 19 16 18.552 16 18C16 17.448 16.448 17 17.004 17Z' fill='#{$skdf-color-grey-04}'/><path d='M13.004 17C13.556 17 14.004 17.448 14 18C14 18.552 13.552 19 13 19C12.448 19 12 18.552 12 18C12 17.448 12.448 17 13.004 17Z' fill='#{$skdf-color-grey-04}'/><path d='M7.00399 12C7.55598 12 8.00397 12.448 7.99997 13C7.99997 13.552 7.55198 14 6.99999 14C6.44799 14 6 13.552 6 13C6 12.448 6.448 12 7.00399 12Z' fill='#{$skdf-color-grey-04}'/><path d='M12.004 12C12.556 12 13.004 12.448 13 13C13 13.552 12.552 14 12 14C11.448 14 11 13.552 11 13C11 12.448 11.448 12 12.004 12Z' fill='#{$skdf-color-grey-04}'/></svg>");
$input-calendar-primary: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' ><path fill-rule='evenodd' clip-rule='evenodd' d='M20 10H4V8H20V10Z' fill='#{$primary}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M8 1.5C8.55228 1.5 9 1.94772 9 2.5V6.5C9 7.05228 8.55228 7.5 8 7.5C7.44772 7.5 7 7.05228 7 6.5V2.5C7 1.94772 7.44772 1.5 8 1.5Z' fill='#{$primary}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16 1.5C16.5523 1.5 17 1.94772 17 2.5V6.5C17 7.05228 16.5523 7.5 16 7.5C15.4477 7.5 15 7.05228 15 6.5V2.5C15 1.94772 15.4477 1.5 16 1.5Z' fill='#{$primary}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6ZM5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5Z' fill='#{$primary}'/><path d='M17.004 17C17.556 17 18.004 17.448 18 18C18 18.552 17.552 19 17 19C16.448 19 16 18.552 16 18C16 17.448 16.448 17 17.004 17Z' fill='#{$primary}'/><path d='M13.004 17C13.556 17 14.004 17.448 14 18C14 18.552 13.552 19 13 19C12.448 19 12 18.552 12 18C12 17.448 12.448 17 13.004 17Z' fill='#{$primary}'/><path d='M7.00399 12C7.55598 12 8.00397 12.448 7.99997 13C7.99997 13.552 7.55198 14 6.99999 14C6.44799 14 6 13.552 6 13C6 12.448 6.448 12 7.00399 12Z' fill='#{$primary}'/><path d='M12.004 12C12.556 12 13.004 12.448 13 13C13 13.552 12.552 14 12 14C11.448 14 11 13.552 11 13C11 12.448 11.448 12 12.004 12Z' fill='#{$primary}'/></svg>");
$input-calendar-error: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' ><path fill-rule='evenodd' clip-rule='evenodd' d='M20 10H4V8H20V10Z' fill='#{$skdf-color-error}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M8 1.5C8.55228 1.5 9 1.94772 9 2.5V6.5C9 7.05228 8.55228 7.5 8 7.5C7.44772 7.5 7 7.05228 7 6.5V2.5C7 1.94772 7.44772 1.5 8 1.5Z' fill='#{$skdf-color-error}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16 1.5C16.5523 1.5 17 1.94772 17 2.5V6.5C17 7.05228 16.5523 7.5 16 7.5C15.4477 7.5 15 7.05228 15 6.5V2.5C15 1.94772 15.4477 1.5 16 1.5Z' fill='#{$skdf-color-error}'/><path fill-rule='evenodd' clip-rule='evenodd' d='M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6ZM5 5C4.44772 5 4 5.44772 4 6V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V6C20 5.44772 19.5523 5 19 5H5Z' fill='#{$skdf-color-error}'/><path d='M17.004 17C17.556 17 18.004 17.448 18 18C18 18.552 17.552 19 17 19C16.448 19 16 18.552 16 18C16 17.448 16.448 17 17.004 17Z' fill='#{$skdf-color-error}'/><path d='M13.004 17C13.556 17 14.004 17.448 14 18C14 18.552 13.552 19 13 19C12.448 19 12 18.552 12 18C12 17.448 12.448 17 13.004 17Z' fill='#{$skdf-color-error}'/><path d='M7.00399 12C7.55598 12 8.00397 12.448 7.99997 13C7.99997 13.552 7.55198 14 6.99999 14C6.44799 14 6 13.552 6 13C6 12.448 6.448 12 7.00399 12Z' fill='#{$skdf-color-error}'/><path d='M12.004 12C12.556 12 13.004 12.448 13 13C13 13.552 12.552 14 12 14C11.448 14 11 13.552 11 13C11 12.448 11.448 12 12.004 12Z' fill='#{$skdf-color-error}'/></svg>");

$day-range: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 36' fill='none' ><path fill-rule='evenodd' clip-rule='evenodd' d='M0 36L10 36V0H0C4.41828 0 8 3.58172 8 8V28C8 32.4183 4.41828 36 0 36Z' fill='#000C1E' fill-opacity='0.05'/></svg>");
$month-range: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29 36' fill='none' ><path fill-rule='evenodd' clip-rule='evenodd' d='M8 8C8 3.58172 4.41828 0 0 0H8H9H10H21H29V36H21H10H9H8H0C4.41828 36 8 32.4183 8 28V8Z' fill='#000C1E' fill-opacity='0.05'/></svg>");

.skdf-calendar-container {
  .react-datepicker-popper {
    z-index: 3;
  }

  .react-datepicker__month,
  .react-datepicker__year {
    margin: 0.5rem 0 0;
  }

  .react-datepicker__navigation {
    margin-top: 0.75rem;
  }

  .weeks-none {
    .react-datepicker {
      &__day-names {
        display: none;
      }
    }
  }
  .react-datepicker {
    &__triangle {
      display: none;
    }

    &-popper[data-placement^='bottom'] {
      padding-top: 0.25rem;
    }

    &__header {
      background-color: #{$skdf-color-white};
      border-color: #{$primary};
      padding: 0 0 0.5rem;
    }

    // Month and Year
    &__year,
    &__year-wrapper,
    &__monthPicker {
      min-width: 17.5rem;
      margin: 0.5rem 0;
      display: grid;
      gap: 1.5rem;
    }

    &__month-wrapper,
    &__year-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__month-text,
    &__year-text {
      width: 4.875rem;
    }

    // All buttons calendar
    &__day-name,
    &__day,
    &__month-text,
    &__year-text {
      text-transform: capitalize;
      position: relative;
      min-width: 2.25rem;
      height: 2.25rem;
      padding: 0.375rem 0.5625rem 0.375rem 0.5rem;
      margin: 0.125rem;
      border-radius: 0.5rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      &.react-datepicker {
        &__day--selected,
        &__day--range-start,
        &__day--range-end,
        &__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
        &__month--selected,
        &__month--range-start,
        &__month--range-end,
        &__year--range-start,
        &__year--range-end,
        &__year-text--selected,
        &__quarter-text--keyboard-selected {
          background-color: $skdf-color-primary-005;
          color: $primary;
        }

        &__day--today:not(.react-datepicker__day--selected),
        &__month-text--today:not(.react-datepicker__month--selected),
        &__year-text--today {
          font-weight: 500;
          color: $primary;
        }
        &__day--outside-month {
          color: $skdf-color-grey-05;
        }
        &__day--disabled,
        &__month--disabled,
        &__year-text--disabled {
          background-color: transparent;
          color: $skdf-color-grey-05;
        }
      }
      &:hover:not(.react-datepicker__day-name):not(.react-datepicker__year-text--disabled),
      &.react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end),
      &.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--selecting-range-start):not(.react-datepicker__day--range-start),
      &.react-datepicker__month--in-range:not(.react-datepicker__month--range-start):not(.react-datepicker__month--range-end),
      &.react-datepicker__month--in-selecting-range:not(.react-datepicker__month--selecting-range-start):not(.react-datepicker__month--range-start),
      &.react-datepicker__year--in-range:not(.react-datepicker__year--range-start):not(.react-datepicker__year--range-end),
      &.react-datepicker__year--in-selecting-range:not(.react-datepicker__year--selecting-range-start):not(.react-datepicker__year--range-start) {
        background-color: $skdf-color-grey-005;
        color: $skdf-color-black;
      }
    }

    &__day--keyboard-selected:not(.react-datepicker__day--selected):not(.react-datepicker__day--in-range):not(.react-datepicker__day--in-selecting-range):not(.react-datepicker__day--range-start):not(.react-datepicker__day--selecting-range-start),
    &__month-text--keyboard-selected:not(.react-datepicker__month--selected):not(.react-datepicker__month--disabled),
    &__year-wrapper .react-datepicker__year-text--keyboard-selected {
      background-color: transparent;
      color: $skdf-color-black;
    }

    // Range line start-in-end

    .react-datepicker {
      &__month-wrapper .react-datepicker__month--range-start:not(.react-datepicker__month--range-end):not(:last-child),
      &__month-wrapper
        .react-datepicker__month--in-range:not(.react-datepicker__month--range-start):not(.react-datepicker__month--range-end):not(:last-child),
      &__year-wrapper .react-datepicker__year--range-start:not(.react-datepicker__year--range-end):not(:last-child),
      &__year-wrapper
        .react-datepicker__year--in-range:not(.react-datepicker__year--range-start):not(.react-datepicker__year--range-end):not(:last-child) {
        &::after {
          background-image: escape-svg($month-range);
          width: 1.8125rem;
          right: -1.3125rem;
        }
      }

      &__month-wrapper .react-datepicker__month--range-end:not(.react-datepicker__month--range-start):not(:first-child),
      &__month-wrapper
        .react-datepicker__month--in-range:not(.react-datepicker__month--range-start):not(.react-datepicker__month--range-end):not(:first-child),
      &__year-wrapper .react-datepicker__year--range-end:not(.react-datepicker__year--range-start):not(:first-child),
      &__year-wrapper
        .react-datepicker__year--in-range:not(.react-datepicker__year--range-start):not(.react-datepicker__year--range-end):not(:first-child) {
        &::before {
          background-image: escape-svg($month-range);
          width: 1.8125rem;
          transform: rotate(180deg);
          left: -1.3125rem;
        }
      }

      &__day--range-start:not(.react-datepicker__day--range-end),
      &__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end),
      &__day--in-selecting-range,
      &__month--range-start:not(.react-datepicker__month--range-end),
      &__month--in-range:not(.react-datepicker__month--range-start):not(.react-datepicker__month--range-end),
      &__year--range-start:not(.react-datepicker__year--range-end),
      &__year--in-range:not(.react-datepicker__year--range-start):not(.react-datepicker__year--range-end) {
        margin-right: 0.125rem;
        &::after {
          content: '';
          top: 0;
          background-image: escape-svg($day-range);
          position: absolute;
          right: -0.125rem;
          height: 2.25rem;
          width: 0.625rem;
        }
      }

      &__day--range-end:not(.react-datepicker__day--range-start),
      &__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end),
      &__day--in-selecting-range:not(.react-datepicker__day--selecting-range-start),
      &__month--range-end:not(.react-datepicker__month--range-start),
      &__month--in-range:not(.react-datepicker__month--range-start):not(.react-datepicker__month--range-end),
      &__month--in-selecting-range:not(.react-datepicker__month--selecting-range-start),
      &__year--range-end:not(.react-datepicker__year--range-start),
      &__year--in-range:not(.react-datepicker__year--range-start):not(.react-datepicker__year--range-end),
      &__year--in-selecting-range:not(.react-datepicker__year--selecting-range-start) {
        margin-left: 0.125rem;
        &::before {
          content: '';
          top: 0;
          background-image: escape-svg($day-range);
          transform: rotate(180deg);
          position: absolute;
          left: -0.125rem;
          height: 2.25rem;
          width: 0.625rem;
        }
      }
    }

    /// icon calendar for input
    &__input-container .form-control {
      background-image: escape-svg($input-calendar-grey);
      background-size: 1.5rem 1.5rem;
      background-repeat: no-repeat;
      background-position: calc(100% - 0.75rem) center;
      padding-right: 2.75rem;
      &:focus {
        background-image: escape-svg($input-calendar-primary);
      }
      &:disabled {
        background-image: escape-svg($input-calendar-disable);
      }
      &.is-invalid,
      &:invalid {
        background-image: escape-svg($input-calendar-error);
        padding-right: 0.75rem;
      }
    }
  }

  /// skdf-select for calendar
  .skdf-select-container {
    & .skdf-select__control {
      &:not(.skdf-select__control--is-focused) {
        border-color: transparent;
      }
      padding: 0.4375rem 0.6875rem;
      display: flex;
      gap: 0.5rem;
    }
    &.skdf-select-container {
      & .skdf-select__value-container,
      & .skdf-select__dropdown-indicator {
        font-size: 1rem;
        padding: 0;
      }
      & .skdf-select__menu-list::-webkit-scrollbar {
        width: 0;
      }
    }

    & .skdf-select__option {
      font-size: 1rem;
    }
  }
}
